.footer {
    color: white;
    padding-top: 20px;
    margin-top: 100px;
}

.ikonice {
    padding: 5px;
}

.horizont {
    background-color: rgba(49, 47, 47, 0.459);
}

.copyright {
    padding-bottom: 15px;
}